*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

a{
    text-decoration: none;
}

.banner{
    text-align: center;
    background-color: #ff0000;
    color:#f7efef;
}

header{
    width:90%;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:10vh;
}

header h1 a{
    color: #000000;
    text-shadow: -2px -2px 0px #aaa9a9;
    
}

header h1{
    flex:1;
}


header nav{
    flex:1;
}

header nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

header nav ul li a{
    text-decoration: none;
    color: #000000;
    font-weight: 500;
}

main{
    height: 90vh;
    top:10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    background-color: #ffffff;
    width:100%;
}

main .main{
    width:90%;
    height: 90%;
    margin: auto;
    display:grid;
    grid-template-columns: 10% 1fr 1fr 10%;
}

.burger-menu .line1,.line2,.line3{
    width:25px;
    height: 3px;
    background-color: #000000;
    margin:3px 0;
    transition: all 0.5s ease;
}

.burger-menu{
    display: none;
    cursor: pointer;
}

.active-link{
    background-color: #000000;
    padding:2px 5px;
    border-radius: 3px;
    color:white;
}

@media screen and (max-width:768px){
    

    nav{
        position: absolute;
        right:0;
        top:0;
        background-color: rgba(0,0,0,0.6);
        height: 100vh;
        width:30%;
        display: flex;
        justify-content: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top:15vh;
    }

    nav ul li{
        opacity: 0;
    }

    header nav ul li a{
        color: #ffffff;
    }

    .nav-active{
        transform: translateX(0%);
    }

    .burger-menu{
        display: block;
    }

    @keyframes navLinkFade {
        from{
            opacity: 0;
            transform:translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .toggle .line1{
        transform:rotate(-45deg) translate(-5px,3px);
        background-color: #ffffff;
    }

    .toggle .line2{
        opacity: 0;
    }

    .toggle .line3{
        transform:rotate(45deg) translate(-6px,-3px);
        background-color: #ffffff;
    }
}
